<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/tech" alt="">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{producto.nombre}}</h3>
        <p>Caracteristicas</p>
        <ul>
            <li *ngFor="let c of producto.estado">
                <span [ngSwitch]="c">
                    <i *ngSwitchCase=" 'Nuevo'" style="color: red;">{{c}}</i>
                    <i *ngSwitchDefault>{{c}}</i>
                </span>
            </li>
            <li><b>Descripción: </b>{{producto.descripcion}}</li>
            <li><b>Enlace: </b>{{producto.url}}</li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Elegir</a>
        <span *ngIf="producto.isSelected()">
            <span ngNonBindable> - PREFERIDO - </span>
        </span>
        <a [routerLink]="['/detalle']">Ver Detalle</a>
    </div>
</div>