<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="page-header"><div class="container">
    <div class="navLinks">
        <a [routerLink]="['/home']">Home </a>
        <a [routerLink]="['/detalle']">Detalle</a>
    </div>
</div>
</div>
<body>
    <div class="jumbotron">
        <h1>
            {{ title }}
        </h1>
    </div>
    <div class="containter">
        <router-outlet></router-outlet>
    </div>
</body>
</html>